.wrapper {
    text-align: center;
    overflow: visible;
}

.header {
    background-color: #413b78;
    width: 100vw;
    height: 13vh;
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    opacity: 0.9;
}

.headerButton {
    color: rgb(168, 223, 243);
}


.chart {
    width: 45vw;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgb(161, 205, 205);
    opacity: 0.9;
    overflow-y: scroll;
    transition: all 1s ease;
    transform: translateX(200%);
}

.chartAppear{
    opacity: 1;
    transform: translateX(0%);
}

.chartDisappear{
    opacity: 0;
    transform: translateX(200%);
}




.chartEl{
    display: flex;
    flex-direction: column;
    margin: 2rem;
}
.chartElImg{
    width: 20rem;
    height: auto;
    border-radius: 12px;
    border: 2px solid black;
}

.chartELData{
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.chartElContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.chartElRemove{
    height: 2rem;
    border-radius: 12px;
}